
@keyframes Animate {
  from {
    width: 0px;
  }
  to {
    width: 70px;
  }
}


@keyframes Animateback {
  from {
    width: 70px;
  }
  to {
    width: 0px;
  }
}


@keyframes fadein {
   0% {
     transform: translateY(20px);
     opacity: 0;
   }
   100% {
     transform: translateY(0);
     opacity: 1;
   }
 }
 
 
 @for $i from 1 through 4 {
    .foodcard:nth-child(#{$i}n) {
        animation-delay:  #{$i * 0.2}s;
    }
 }

 @keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
 
  }
}

@keyframes loaderback {
  
  100% {
    opacity: 0;
    z-index: -100000;
 
  }
}