
@keyframes Animate {
  from {
    width: 0px;
  }
  to {
    width: 70px;
  }
}
@-webkit-keyframes Animate {
  from {
    width: 0px;
  }
  to {
    width: 70px;
  }
}
@-moz-keyframes Animate {
  from {
    width: 0px;
  }
  to {
    width: 70px;
  }
}
@-o-keyframes Animate {
  from {
    width: 0px;
  }
  to {
    width: 70px;
  }
}

@keyframes Animateback {
  from {
    width: 70px;
  }
  to {
    width: 0px;
  }
}
@-webkit-keyframes Animateback {
  from {
    width: 70px;
  }
  to {
    width: 0px;
  }
}
@-moz-keyframes Animateback {
  from {
    width: 70px;
  }
  to {
    width: 0px;
  }
}
@-o-keyframes Animateback {
  from {
    width: 70px;
  }
  to {
    width: 0px;
  }
}

