.header {
  text-align: center;
  height: 4rem;
  margin-top: 0%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  & a:first-child {
    position: absolute;
    left: 1rem;
    font-size: 10px;
  }
  h1 {
    font-family: "Shrikhand", cursive;
  }
}

.backimg {
  background-size: cover;
  width: 100%;
  height: 16rem;
  margin-bottom: 1rem;
  z-index: -4;
}

//--------------------------------- TITRE entree plat dessert ---------------------------------//

.bordertitle {
  border-bottom: 3px solid $tertiary;
                        padding: 0 0 0.2em 0;
}

//--------------------------------- MENU CARD ---------------------------------//
.menu {
  margin-top: -5rem;
  position: relative;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #f6f6f6;
  padding: 2rem 1rem 2rem 0.8rem;
  z-index: 5;
  display:flex;
  flex-direction: column;
  justify-content: center;

  .btn-gradient{
    margin: 2rem auto 2rem;
  }
}
.title {
  @include center;
  font-family: "Shrikhand", cursive;
  justify-content: space-between;
  margin-top : auto;
}

