.foodcard {
  @include center;
  justify-content: space-between;
  background: white;
  border-radius: 1em;
  width: 22rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.123) 0px 0px 10px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  animation: Animateback 1s;
  transition: 0.7s ease-in-out 0s;
  padding: 1em;
  height: 4.5rem;


  h3,
  dd {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0px;
    margin-top: 0%;
    padding: 0 0em 0 0em;
  }
  .desc {
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0.1px;
  }
  .price {
    margin-top: 2.8rem;
    padding: 0 1em 1em 0em;
    font-weight: bold;
    overflow: hidden;
    font-size: 16px;
    margin: auto 0 0 0;
    transform: translateX(0px);
  }
  dd {
    font-size: 14px;
    margin-top: -18px;
    color: $darkergrey;
    overflow: hidden;
  }
  .checkbox {
    position: absolute;
    right: 0;
    height: 140%;
    width: 0px;
    @include flexcolumn;
    background-color: $tertiary;
    color: #fff;
    opacity: 0;
    animation: Animateback 1s;
    transition: 0.7s ease-in-out 0s;
    transform: padding;

    i {
      transform: rotate(-360deg);
      transition: 0.7s ease-in-out 0s;
    }
  }
  &:hover {
    .checkbox {
      animation: Animate 1s forwards;
      -webkit-animation: Animate 1s forwards;
      -moz-animation: Animate 1s forwards;
      -o-animation: Animate 1s forwards;
      opacity: 1;

      i {
        animation-fill-mode: forwards;

        transform: rotate(360deg);
        transition: 0.7s ease-in-out 0s;
      }
    }
    padding-right: 4rem;
    transition: 0.7s ease-in-out 0s;
  }
}
